* {
  background:                 #0f0f0f;
  background-alt:             #1f1f1f;
  border:                     #0f0f0f;
  foreground:                 #8d8d8d;
  accent:                     #32ae80;

  text-color:                 @fg;
  javacafe-blue:              #5e76de;
}
