* {
  background:                 #121212;
  background-alt:             #232323;
  border:                     #121212;
  foreground:                 #5f5f5f;
  accent:                     #34a95d;

  text-color:                 @fg;
  javacafe-blue:              #7284d2;
}
